// You should get Auth Token in the Blynk App.
// Go to the Project Settings (nut icon).
char auth[] = "00000000000000000000000000000000";

// Your WiFi credentials.
// Set password to "" for open networks.
char ssid[] = "YourNetworkName";
char pass[] = "YourPassword";

char server[] = "YourServer";
